
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

#app {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.container {
  
  margin: auto;
  display: table;
}

.form{
  margin:auto;
}

.input-element {
  float: left;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.input-group button {
  display: block;
  width: 17px;
  height: 17px;
  padding: 0px;
  border: none;
  margin: 1px;
  background-color: #a0a0a0;
  color: white;
  border-radius: 0px;
}
.checkout {
  color: white;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: none;
  background-color: #3a3670;
  padding: 10px 20px;
  float: right;
  margin-right: 10%;  
  font-weight: bold;
}
input#quantity {
  text-align: right;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px 1px 0px 0px;
  height: 32px;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

table.is-striped tr:nth-child(even) {
  background-color: #f2f2f2;
}

.blank td, td.blank{  
  background-color: #fff;
  border:0px;  
}

.min td{  
  padding: 0px 10px;
}
.grey td{  
  color:#acacac;
}
table { 
  width: 100%;
}

table, th, td{
  border-collapse: collapse;
  padding: 10px;
}
table thead tr td{
  border-bottom: 1px solid black;
  font-weight: bold;
}

svg{
  fill:#3a3670;
}